<li role="presentation">
  <a href="#{{id}}" aria-controls="{{id}}" role="tab" data-toggle="tab">
    {{default view.title "*untitled*"}}
    <i class="close-tab fa fa-close" title="Close tab"></i>
  </a>
</li>
