
.project-tree-container {
  height: 100%;
}

.project-tree-scroller {
  height: calc(100% - 26px);
  overflow: auto;
}

.project-tree .resource {
  position: relative;
}

.project-tree .resource > .resource-menu {
  position: absolute;
  top: -6px;
  right: -8px;
}

.project-tree .resource.list-group-item > .resource-menu {
  top: 3px;
  right: 2px;
}

.project-tree .panel-body {
  padding: 4px;
}

.project-menubar .menu-button.pull-left {
  float: left;
}
