<nav class="project-menubar panel-toolbar clearfix">

  <div class="menu-button dropdown pull-left">
    <a role="button" data-toggle="dropdown" class="btn btn-primary compile-project" data-target="#" href="#">
      <i class="fa fa-download"></i>
    </a>
  </div>

  <div class="menu-button dropdown pull-right">
    <a role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <ul class="dropdown-menu multilevel" role="menu" aria-labelledby="dropdownMenu">
      <li class="dropdown-submenu">
        <a href="#" class="new-project">
          <span class="fa fa-file-o"></span>
          <span>New project...</span>
        </a>
      </li>
    </ul>
  </div>

</nav>
