<nav class="project-menubar panel-toolbar">
  <ul class="flexnav">
    <li>
      <i class="fa fa-bars"></i>
      <ul>
        <li>New project...</li>
        <li>New tileset...</li>
      </ul>
    </li>
  </ul>
</nav>
