<div class="project-tree">
  <ul>
    {{#each projects}}
      <li data-jstree='{"icon":"fa fa-folder-open"}' class="jstree-open">
        {{default name "*unnamed*"}}
        <ul>
          {{#each resources}}
            <li data-jstree='{"icon":"fa fa-file"}'>{{default name "*unnamed*"}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
