<div class="project-tree">
  <ul>
    {{#each projects}}
      <li class="jstree-open">
        {{default name "*unnamed*"}}
        <ul>
          {{#each resources}}
            <li class="jstree-open">{{default name "*unnamed*"}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
