<nav class="project-menubar panel-toolbar">
  <div class="menu-button">
    <i class="fa fa-bars"></i>
    <div class="popup-menu sidebar-nav">
      <ul>
        <li>
            <a href="#">
              <span class="sidebar-nav-item-icon fa fa-file-o"></span>
              <span class="sidebar-nav-item">New</span>
              <span class="fa arrow"></span>
            </a>
            <ul>
              <li>
                <a href="#" class="new-project">
                  <span class="sidebar-nav-item-icon fa fa-newspaper-o"></span>
                  <span class="sidebar-nav-item">Project...</span>
                </a>
              </li>
              <li>
                <a href="#" class="new-tileset">
                  <span class="sidebar-nav-item-icon fa fa-image"></span>
                  <span class="sidebar-nav-item">Tile set...</span>
                </a>
              </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
