<nav class="project-menubar panel-toolbar clearfix">
  <div class="menu-button dropdown pull-right">
    <a role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
      <i class="fa fa-bars"></i>
    </a>
    <ul class="dropdown-menu multilevel" role="menu" aria-labelledby="dropdownMenu">
      <li class="dropdown-submenu">
          <a href="#">
            <span class="fa fa-file-o"></span>
            <span>New</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#" class="new-project">
                <span class="fa fa-newspaper-o"></span>
                <span>Project...</span>
              </a>
            </li>
            <li>
              <a href="#" class="new-tileset">
                <span class="fa fa-image"></span>
                <span>Tile set...</span>
              </a>
            </li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
