<div class="resource-menu dropdown pull-right">
  <a role="button" data-toggle="dropdown" class="btn" data-target="#" href="#">
    <i class="fa fa-ellipsis-h"></i>
  </a>
  <ul class="dropdown-menu">
    {{#each (resourceMenuOptions entityName)}}
      <li>
        <a href="#" class="{{action}}-resource" data-rge-entity="{{entityName}}">
          <span class="fa fa-{{icon}}"></span>
          <span>{{label}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
