<div class="resource-menu dropdown pull-right">
  <a role="button" data-toggle="dropdown" class="btn" data-target="#" href="#">
    <i class="fa fa-ellipsis-h"></i>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="#" class="rename-resource">
        <span class="fa fa-edit"></span>
        <span>Rename...</span>
      </a>
    </li>
    <li>
      <a href="#" class="delete-resource">
        <span class="fa fa-trash"></span>
        <span>Delete...</span>
      </a>
    </li>
  </ul>
</div>
